
<div class="vidContainer">
  <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
      <source src="http://mazwai.com/system/posts/videos/000/000/109/webm/leif_eliasson--glaciartopp.webm?1410742112" type="video/webm">
  </video>
  <div class="row heroContainer">
    <div class="col s12">
        <div class="row">
          <div class="col s6 offset-s3 heroText">
            <div class="heroText center-align"> <h2>Send Push Notifications To Your Users To Drive More <span class="typewriter">Sales</span></h2> </div>
            <div class="center-align"><a class="waves-effect waves-light btn-large">Show Me How</a></div>
          </div>
        </div>
    </div>
  </div>
</div>
